@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* height: 1200vh; */
  background-color: #f1f2f3;
  font-family: "Nunito", sans-serif;
}
/* Loader */

.main-loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: all;
  z-index: 10000;
}

.loader {
  width: 100%;
  height: 25%;
  background: #212121;
  position: relative;
  float: left;
  animation: goToRight 1s 1s forwards;
  right: 0;
}

@keyframes goToRight {
  to {
    right: -100%;
  }
}

.loader:nth-child(2) {
  animation-delay: 1.3s;
}

.loader:nth-child(3) {
  animation-delay: 1.5s;
}

.loader:nth-child(4) {
  animation-delay: 1.7s;
}
/* 
-> 850 تقريبا 

=> لو 200 للاب توب 
=> هيضل معي 650 
=> امي 300 شيكل بعطيها 
=> اخواني بوزع عليهم 200 شيكل 
=> بيضل معي 150 شيكل اصرف منهن واطلع 50 شيكل لله
=> بس لازم اشتري اواعي
=> والقبضة الجاية بجيب الكرسي ان شاء الله

*/

.z-index {
  z-index: 100000;
  @apply fixed inset-0 bg-blue-300 overflow-y-auto;
}
/*  */
.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: linear-gradient(15deg, #13547a, #80d0c7);
  /* filter: blur(3px); */
}
.loading-container {
  position: relative;
  width: 110px;
  height: 110px;
  margin: auto;
}
.loading-container .item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 50%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: spin 2s ease infinite;
}
.loading-container .item:nth-child(1) {
  width: 50px;
  height: 50px;
}
.loading-container .item:nth-child(2) {
  width: 70px;
  height: 70px;
  animation-delay: 0.1s;
}
.loading-container .item:nth-child(3) {
  width: 90px;
  height: 90px;
  animation-delay: 0.2s;
}
.loading-container .item:nth-child(4) {
  width: 110px;
  height: 110px;
  animation-delay: 0.3s;
}
@keyframes spin {
  50% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}



/* Loader */
/* Login */
.bgImage-login {
  background: url('https://images.unsplash.com/photo-1515965885361-f1e0095517ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80');
  background-size: cover; 
  background-position: center center;
}
/*  */

/* Nav */

.lang:hover .before-lan {
  display: block;
  top: 40px;
  animation: move-up 0.4s 1 alternate;
}
.lang:hover .before-lan2 {
  display: block;
  top: 40px;
  animation: move-up 0.4s 1 alternate;
}

.before-lan {
  display: none;
  transition: 2s all;
  @apply bg-white absolute -right-[8px] z-[50] text-black text-sm py-3 rounded-lg;
}

.before-lan2 {
  display: none;
  transition: 2s all;
  @apply bg-white absolute z-[50] text-black text-sm py-3 rounded-lg;
  @apply -right-[25px] w-44;
}

.before-lan3 {
  @apply -right-[16px];
}

.before-lan::before {
  content: "";
  position: absolute;
  left: 30%;
  bottom: 64px;
  border: 10px solid #fff;
  border-color: transparent transparent #fff transparent;
}

.before-lan2::before {
  content: "";
  position: absolute;
  left: 71%;
  top: -20%;
  border: 12px solid rgb(0, 0, 0);
  border-color: transparent transparent rgb(255, 255, 255) transparent;
}

.before-lan3::before {
  content: "";
  position: absolute;
  left: 80%;
  bottom: 132px;
  border: 12px solid rgb(255, 255, 255);
  border-color: transparent transparent rgb(255, 255, 255) transparent;
}

.list-name {
  display: flex;
}
.list-name p:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 39px;
  border-radius: 50%;
  background-color: #304aca;
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
}

.list-name p:nth-child(2) {
  font-size: 12px;
}

@keyframes move-up {
  0% {
    top: 50px;
  }
  100% {
    top: 40px;
  }
}

/* Nav */
.sidebar {
  /* flex: .8; */
  /* position: fixed;
  top: 125px; */
  /* top: 0;
  left: 0;
  */

  transition: 1s all;
  overflow-y: scroll;
  overflow-x: hidden;
  position: sticky;
  top: 80px;
  height: 75vh;
}

.sidebar::-webkit-scrollbar {
  width: 0.2rem;
}

.sidebar::-webkit-scrollbar-track {
  border: 2px solid #f1f2f3;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}

.sidebar::-webkit-scrollbar-thumb {
  /* background: linear-gradient(90deg, #dfd6db, #9ca1a7); */
  background-color: rgb(197, 197, 197);
  border-radius: 0.2rem;
}

.homecontent {
  flex: 4;
}

.active {
  @apply bg-slate-300;
}

/* 
لوحة التحكم
المستخدمين
المرضى
الحجوزات
الفحوصات المخبرية
صور الاشعة 
الادوية
المصروفات

*/
.btn {
  padding: 0.4375rem 1.25rem;
  text-shadow: none;
  font-size: 14px;
  color: #3b3f5c;
  font-weight: normal;
  white-space: normal;
  word-wrap: break-word;
  transition: 0.2s ease-out;
  touch-action: manipulation;
  cursor: pointer;
  background-color: #f1f2f3;
  box-shadow: 0px 5px 20px 0 rgb(0 0 0 / 10%);
  will-change: opacity, transform;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  color: #fff !important;
  background-color: #4361ee !important;
  border-color: #4361ee;
  box-shadow: 0 10px 20px -10px #4361ee;
}

.justify-between.pb-6 label {
  font-size: 13px;
  margin-bottom: 0;
  color: #888ea8;
}

.form-control {
  padding: 7px 18px;
  border: 1px solid #d1d1d1;
  border-radius: 7px;
  text-align: left;
}
.form-control:focus {
  outline: 1px solid rgb(170, 170, 170);
}

/* Input */

.input- {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  color: #212529;
  border: 1px solid #e9ecef;
  background-color: #fff;
  font-size: 14px;
}

.wronge {
  animation: wrongeA .15s 3 alternate;
}

@keyframes wrongeA {
  0% {
    /* margin-left: 1rem; */
    transform: translateX(5px);
  }
  /* 25% {
    margin-left: 1.5rem;
  }
  75% {
    margin-left: -1.5rem;
  } */
  100% {
    /* margin-left: 1rem; */
    transform: translateX(-5px);
  }
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100%;
  margin-right: 30px;
}
